
.landingpage {
    display: grid;
    gap: 1em 1em;
    max-width: 600px;
    font-weight: bold;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.red {
    grid-column: span 2;
    justify-self: stretch;
    border: 2px dotted;
    border-color: #f00;
    padding: 0.5em;
}

.green {
    grid-column: span 1;
    justify-self: stretch;
    border: 2px dotted rgb(34, 111, 34);
    padding: 0.5em;
}

.blue {
    grid-column: span 3;
    justify-self: stretch;
    border: 2px dotted #00f;
    padding: 0.5em;
}
